* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente-principal: 'Inter', sans-serif;
    --color-primario: #ffffff;
    --color-secundario: #27272a;
}

html,
body {
    height: 100%;
    font-family: var(--fuente-principal);
    background: linear-gradient(to top, grey, black);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#selectColor {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    width: 11rem;
    height: 3.5rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;


}

#selectFormato {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    width: 11rem;
    height: 3.5rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
}

#generarPaleta {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 14rem;
    height: 3.8rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    font-size: 0.90rem;
    letter-spacing: 0.08rem;
    text-align: center;


}

#contenedorColores {}

.aviso-card {
    position: fixed;
    height: 30px;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: var(--color-primario);
    filter: drop-shadow(0 0 1.5rem);
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

p {
    font-weight: 400;
    text-align: center;
    display: block;
    color: var(--color-primario);
    text-shadow: 3px 3px 3px rgba(39, 37, 37, 0.6);
    opacity: 0.7;
}

footer {
    width: 100%;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
    color: var(--color-primario);
    padding: 20px;
    text-align: right;
    display: block;

}