* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente-principal: 'Inter', sans-serif;
    --fuente-secundaria: 'Plus Jakarta Sans', sans-serif;
    --color-primario: #ffffff;
    --color-secundario: #27272a;
}

html,
body {
    font-family: var(--fuente-principal);
    background: linear-gradient(to top, grey, black);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#controles {
    background-color: #16161a;
    border: 8px solid var(--color-secundario);
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 55px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#selectColor {
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    width: 11rem;
    height: 3.5rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    border: none;
}

#selectFormato {
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    width: 11rem;
    height: 3.5rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    border: none;
}

#generarPaleta {
    font-family: var(--fuente-secundaria);
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 14rem;
    height: 3.8rem;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    font-size: 0.90rem;
    letter-spacing: 0.08rem;
    text-align: center;
    transition: all 0.2s;
}

#generarPaleta:hover {
    transform: translateY(-5px);
}

#copiarPaleta {
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    width: 25rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 50px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#copiarPaleta:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}

#contenedorColores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.color-card {
    width: 180px;
    height: 300px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    font-size: 0.85rem;
    transition: all 0.2s;
}

.color-card:hover {
    transform: scale(1.05);
}

.aviso-card,
.avisoIndividual-card {
    position: fixed;
    bottom: 10px;
    height: 30px;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    color: var(--color-primario);
    filter: drop-shadow(0 0 1.5rem);
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

p {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    color: var(--color-primario);
    text-shadow: 3px 3px 3px rgba(39, 37, 37, 0.6);
    opacity: 0.7;
}

footer {
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
    color: var(--color-primario);
    padding: 20px 40px;
    text-align: right;
    display: block;

}

a {
    font-family: var(--fuente-secundaria);
    color: var(--color-primario);
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.10rem;
    opacity: 0.8;
    transition: opacity 0.2s;

}

a:hover {
    opacity: 0.8;
}